html {
  --primary-color: #172efd;
  --white-color: #fff;
  --black-color: #fff;
  --background-color: #f5f4f4;

  // header
  --header-bot-shadow: rgba(0, 0, 0, 0.15);

  // navbar-mobile
  --navbar-mobile-hight: 55px;
}
