@use '../base/mixins';
.main {
  margin-top: 110px;

  @include mixins.breakpoint(lg) {
    margin-top: 70px;
  }
  @include mixins.breakpoint(md) {
    margin-top: 50px;
  }

  width: 100%;
  height: 100%;
}

.slider-section {
  width: 100%;
  height: 350px;

  .category {
    height: 100%;
    box-shadow: 0px 0px 7px #666;
    overflow-y: auto;

    @include mixins.breakpoint(lg) {
      display: none;
    }
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #1f1f1f;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #000;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 10px;
      .icon {
        width: 24px;
        height: 24px;
      }
      .title {
        flex: 1;
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
        color: #000000;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .slider-subcategory {
    position: relative;
    padding: 10px 0 0 10px;
    @include mixins.breakpoint(lg) {
      padding: 0px;
    }
  }

  .sub-category {
    &-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      padding: 10px;
      overflow-y: auto;

      background-color: #fff;
      box-shadow: 0px 0px 7px #666;

      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: #f0f0f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #1f1f1f;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #000;
      }
    }
    &-body {
      display: flex;
      flex-wrap: wrap;
      height: 0px;
    }
    &-item {
      .sub-title {
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: var(--primary-color);
        }
      }

      .subsub-title {
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
  .show {
    display: flex;
  }

  .hidden {
    display: none;
  }
}
