/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  font-size: 1.4rem;
  font-family: Mulish, sans-serif !important;
}

.container, .header__services .services__item a, .header__category, .header__topnav .topnav__item, .header__topnav .icon-text-box, .header__topnav, .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top {
  height: 70px;
  padding: 5px 0;
  background-color: #172efd;
}
.header-bot {
  display: flex;
  justify-content: center;
  height: 40px;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 22.2222222222%;
}
.header__logo > a > img {
  max-height: 60px;
  max-width: 100%;
}
.header__search {
  width: 33.3333333333%;
}
.header__search .search {
  position: relative;
}
.header__search .search__input {
  height: 40px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  outline: none;
}
.header__search .search__btn {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #172efd;
}
.header__search .search__btn > i {
  color: #fff;
  font-size: 2.2rem;
}
.header__topnav {
  justify-content: right;
  width: 44.4444444444%;
}
.header__topnav .icon-text-box {
  color: #fff;
  text-decoration: none;
}
.header__topnav .icon-text-box .icon-box {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
}
.header__topnav .icon-text-box .icon-box .cart-number {
  position: absolute;
  right: 2px;
  top: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f70000;
  font-size: 0.9rem;
  line-height: 15px;
  text-align: center;
}
.header__topnav .icon-text-box .text-box {
  margin-left: 10px;
  font-size: 1.3rem;
}
.header__topnav .icon-text-box .text-box i {
  margin-left: 3px;
}
.header__topnav .topnav__item {
  margin-left: 25px;
}
.header__topnav .cart-box {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #fff;
}
.header__category {
  justify-content: start;
  width: 25%;
  height: 100%;
  padding-left: 20px;
  color: #fff;
  background-color: #1221aa;
  font-size: 1.6rem;
  font-weight: 700;
}
.header__category i {
  margin-right: 10px;
}
.header__services {
  width: 75%;
}
.header__services .services {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.header__services .services::-webkit-scrollbar {
  height: 10px;
}
.header__services .services::-webkit-scrollbar-track {
  background: #f0f0f1;
}
.header__services .services::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
.header__services .services::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}
.header__services .services__item a {
  color: #000000;
  text-decoration: none;
  padding: 6px 15px;
}
.header__services .services__item a > i {
  margin-right: 8px;
}
.header__services .services__item a:hover {
  color: #172efd;
}

.container {
  width: 1200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1200px;
}

.footer__top {
  display: flex;
  justify-content: center;
  height: 72px;
  background-color: #202121;
}
.footer__top .register {
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer__top .register__title {
  font-size: 18px;
  font-weight: 400;
}
.footer__top .register__form {
  height: 45px;
  background-color: aqua;
}
.footer__top .register__form > input {
  height: 100%;
  width: 332px;
  padding: 2px 10px;
  border: none;
  outline: none;
}
.footer__top .register__form > button {
  height: 100%;
  width: 120px;
  border: none;
  background-color: #172efd;
  color: #fff;
}
.footer__top .register__form > button > i {
  margin-right: 5px;
}
.footer__top .register__social > a > i {
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
}
.footer__mid {
  display: flex;
  justify-content: center;
  height: 318px;
  padding-top: 20px;
  background-color: #202121;
}
.footer__mid .item-info {
  width: 25%;
  height: 100%;
  margin: 0 10px;
}
.footer__mid .item-info:first-child {
  margin-left: 0px;
}
.footer__mid .item-info:last-child {
  margin-right: 0px;
}
.footer__mid .item-info .logo {
  max-height: 60px;
}
.footer__mid .item-info__title {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.footer__mid .item-info ul {
  margin-top: 10px;
}
.footer__mid .item-info ul li {
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}
.footer__mid .item-info ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__mid .item-info ul li a:hover {
  color: #172efd;
}
.footer__mid .item-info__body ul.list-info {
  margin-top: 10px;
}
.footer__mid .item-info__body ul.list-info li {
  display: list-item;
  margin-bottom: 10px;
}
.footer__mid .item-info__body ul.list-info a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.footer__mid .item-info__body ul.list-info a:hover {
  color: #172efd;
}
.footer__mid .item-info__body ul.list-info a::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
  background-color: #fff;
}
.footer__mid .item-info p {
  color: #fff;
}
.footer__bot {
  display: flex;
  justify-content: center;
  height: 50px;
  color: #fff;
  background-color: #101110;
}
.footer__bot a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
